$background: get_color('background', 'light'); // color used to dim the rest of the page

$c-pop-up-3d-name: 'pop-up-3d';

// Variables

$c-pop-up-3d-height: auto;

$c-pop-up-3d-width: 200px;

// Colors

$c-pop-up-3d-bg-color: get-color('primary2', 'dark', .8);

%c-tip-vars {
  border-style: solid;
  border-color: $c-pop-up-3d-bg-color;
  display: block;
  content: "";
  position: absolute;
  width: 0;
}


