$background: get_color('background', 'light'); // color used to dim the rest of the page

$c-pop-up-3d-name: 'pop-up-3d';

// Variables

$c-pop-up-3d-height: auto;

$c-pop-up-3d-width: 200px;

%c-tip-vars {
  border-style: solid;
  display: block;
  content: "";
  position: absolute;
  width: 0;
}


